<p id="notice"><%= notice %></p>

<p>
  <strong>Document type:</strong>
  <%= @user.document_type %>
</p>

<p>
  <strong>Documentnumber:</strong>
  <%= @user.documentNumber %>
</p>

<p>
  <strong>Name:</strong>
  <%= @user.name %>
</p>

<p>
  <strong>Lastname:</strong>
  <%= @user.lastname %>
</p>

<p>
  <strong>Gender:</strong>
  <%= @user.gender %>
</p>

<p>
  <strong>Birthday:</strong>
  <%= @user.birthday %>
</p>

<p>
  <strong>Blood type:</strong>
  <%= @user.blood_type %>
</p>

<p>
  <strong>Neighborhood:</strong>
  <%= @user.neighborhood %>
</p>

<p>
  <strong>Address:</strong>
  <%= @user.address %>
</p>

<p>
  <strong>Email:</strong>
  <%= @user.email %>
</p>

<p>
  <strong>Phone:</strong>
  <%= @user.phone %>
</p>

<p>
  <strong>Cellphone:</strong>
  <%= @user.cellphone %>
</p>

<p>
  <strong>Education level:</strong>
  <%= @user.education_level %>
</p>

<p>
  <strong>Picturemedium:</strong>
  <%= @user.pictureMedium %>
</p>

<p>
  <strong>Picturethumbnail:</strong>
  <%= @user.pictureThumbnail %>
</p>

<p>
  <strong>Password:</strong>
  <%= @user.password %>
</p>

<p>
  <strong>Civicoins:</strong>
  <%= @user.civicoins %>
</p>

<p>
  <strong>Nationalityrails:</strong>
  <%= @user.nationalityrails %>
</p>

<%= link_to 'Edit', edit_user_path(@user) %> |
<%= link_to 'Back', users_path %>
