<p id="notice"><%= notice %></p>

<h1>Upzs</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>District area</th>
      <th>Shape</th>
      <th>Latitude</th>
      <th>Longitude</th>
      <th>Code</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @upzs.each do |upz| %>
      <tr>
        <td><%= upz.name %></td>
        <td><%= upz.district_area %></td>
        <td><%= upz.shape %></td>
        <td><%= upz.latitude %></td>
        <td><%= upz.longitude %></td>
        <td><%= upz.code %></td>
        <td><%= link_to 'Show', upz %></td>
        <td><%= link_to 'Edit', edit_upz_path(upz) %></td>
        <td><%= link_to 'Destroy', upz, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Upz', new_upz_path %>
