<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @department.name %>
</p>

<p>
  <strong>Code:</strong>
  <%= @department.code %>
</p>

<p>
  <strong>Area:</strong>
  <%= @department.area %>
</p>

<p>
  <strong>Shape:</strong>
  <%= @department.shape %>
</p>

<p>
  <strong>Latitude:</strong>
  <%= @department.latitude %>
</p>

<p>
  <strong>Longitude:</strong>
  <%= @department.longitude %>
</p>

<%= link_to 'Edit', edit_department_path(@department) %> |
<%= link_to 'Back', departments_path %>
