<%= form_for(interest_by_cathegory) do |f| %>
  <% if interest_by_cathegory.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(interest_by_cathegory.errors.count, "error") %> prohibited this interest_by_cathegory from being saved:</h2>

      <ul>
      <% interest_by_cathegory.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :user_id %>
    <%= f.text_field :user_id %>
  </div>

  <div class="field">
    <%= f.label :category_id %>
    <%= f.text_field :category_id %>
  </div>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
